 html {
	width: 100%;
	height: 100%;
	background: #000;
	color: #0f0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: monospace;
	font-size: 2em;
}
body {
	display: table;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
input{
  display:inline;
  padding:.25em 0;
	background: #000;
border:none;
	color: #0f0;
	font-family: monospace;
	font-size: 1em;
outline:none;
}
#history{
	position:absolute;
	bottom:2em;
}
.note{
	margin-bottom:0.5em;
}
#wrap{
	position:absolute;
	bottom:0;
}
.mt{
	margin-top:1em;
}
.hide{
display:none;
}